html {
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  background-color: #4B7399;
}

main {
  width: 40em;
  margin: 2em auto;
  padding: 2em;
  border: 1px solid #000000;
  background-color: #FFFFFF;
}

main *:first-child {
  margin-top: 0
}

main *:last-child {
  margin-bottom: 0
}
